body {
    height: 100vh;

    background-color: hsl(185, 75%, 39%);
    background-image: url("bg-pattern-top.svg"), url("bg-pattern-bottom.svg");
    background-position: right 52vw bottom 37vh,top 50vh left 47vw;
    background-repeat: no-repeat;

    font-size: 18px;
    font-family: 'Kumbh Sans';

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

}

.profile-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 23.5rem;
    width: 22rem;

    background-color: white;
    background-image: url("bg-pattern-card.svg");
    background-size: 100%;
    background-repeat: no-repeat;

    border-radius: 15px;

    box-shadow: 0 60px 80px rgba(0,0,0,.16);
}

.profile-header p {
    margin-bottom: 0;
}

img {
    margin-top: 3.5rem;
    border: 4px solid hsla(0, 0%, 100%, 0.824);
    border-radius: 50%;
}

.info {
    color: hsl(229, 23%, 23%);

    font-weight: bold;
}

.extra {
    color: hsl(227, 10%, 46%);
}

hr {
    border:  none;
    height: 1px;
    width: 100%;

    background-color: hsl(0, 0%, 80%);
}

.metrics {
    display: flex;
    justify-content: center;
    align-items: center;
}

.metrics p {
    margin-right: 2.7rem;

    line-height: 1.2rem;
}

.metrics p:last-child {
    margin-right: 0;
}

.metrics .info {
    font-size: 1.3rem;
}

.metrics .extra {
    font-size: 0.9rem;
}